nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px 19px 36px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}

.mary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: gray;
}






/*      banner      */
.header {
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-content {
    max-width: 500px;
}

.banner .profilepic {
    width: 500px;
}

.banner-greetings {
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-title {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
}

/*main*/


main {
    max-width: 1140px;
    margin: 0 auto;
}

.description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    
}
.info-description{
    text-align: center;
    font-style: arial;
    font-size: 20px;
}